# Entornos Python
__pycache__/
*.pyc

# Resultados de entrenamiento
runs/

# Datasets
dataset/
dataset_filtrado/

# Modelos pesados
modelo_ia/*.pt

# Archivos generados por el sistema
alertas/
capturas/

# Configuración local
.vscode/
# Modulo IMAGEN
.venv/
resultados/
calibracion/*.csv
.streamlit/secrets.toml
alertas_anteriores/
